.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: max-content;
  background-image: url("../../images/Background_home.svg");
  background-size: cover;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    padding: 0 1rem;
    margin-top: 40px;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      img {
        filter: invert(1);
      }

      p {
        font-weight: 300;
        font-size: 28px;
        line-height: 40px;
        cursor: default;
        user-select: none;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      outline: none;
      border: 1px solid rgba(51, 51, 51, 0.2);
      border-radius: 100%;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    padding: 0 1rem;
    margin-top: 34px;

    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 246px;
      height: 48px;
      border: 1px solid rgba(51, 51, 51, 0.2);
      border-radius: 2px;
      padding: 1rem;

      input {
        width: 90%;
        height: 100%;
        border: none;
        outline: none;

        color: #999999;
        background: transparent;
      }

      img {
        cursor: pointer;
      }
    }

    .filter_select {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;

      img {
        cursor: pointer;
      }
    }
  }

  .books {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: calc(100vh - 180px);
    margin-top: 18px;
    padding: 1rem;
    gap: 16px;
    overflow-y: scroll;
  }

  .books::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 600px) {
  .container {
    .header,
    .filters {
      max-width: 1168px;
    }

    .books {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1168px;
    }
  }
}
