.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  position: absolute;
  gap: 16px;
  user-select: none;
  padding: 2rem;

  .close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #fff;
    padding: 2rem;

    .book {
      width: 100%;

      img {
        width: 100%;
        filter: drop-shadow(0px 11.9008px 17.8512px rgba(0, 0, 0, 0.3));
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 24px;

      p {
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
      }

      p + p {
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #ab2680;
      }
    }

    .info {
      width: 100%;
      margin-top: 32px;

      .info_title {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {
          font-weight: 500;
          font-size: 12px;
          line-height: 28px;
          text-transform: uppercase;
          text-align: left;
        }
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        p {
          font-weight: 500;
          font-size: 12px;
          line-height: 28px;
        }

        p + p {
          color: #999999;
        }
      }
    }

    .review {
      width: 100%;
      margin-top: 32px;

      .review_title {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {
          font-weight: 500;
          font-size: 12px;
          line-height: 28px;
          text-transform: uppercase;
          text-align: left;
        }
      }

      .review_content {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #999999;
      }
    }
  }
}

@media (min-width: 700px) {
  .container {
    height: 100%;
    justify-content: center;
    align-items: center;

    .close {
      max-width: 762px;
    }

    .content {
      flex-direction: row;
      gap: 48px;

      .book {
        max-width: 350px;
      }

      .content_info {
        max-width: 300px;
      }
    }
  }
}
